<div class="content">
    <div class="filter">
        <mat-form-field>
            <mat-label>Search...</mat-label>
            <input matInput
                   [(ngModel)]="textFilter"
                   (input)="filterData()"
                   autocomplete="off">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Select columns for filtering</mat-label>
            <mat-select [(ngModel)]="selectedColumns"
                        (ngModelChange)="updateColumns($event)"
                        multiple>
                <mat-option *ngFor="let column of columns"
                            [value]="column">{{column}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <br>
    <div class="data-table">
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Surname</th>
                    <th>Age</th>
                    <th>Address</th>
                    <th>Phone</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let p of people">
                    <td>{{p.name}}</td>
                    <td>{{p.surname}}</td>
                    <td>{{p.age}}</td>
                    <td>{{p.country}}</td>
                    <td>{{p.phone}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>